<div class="row mt-5" style="text-align: center; margin:0 auto;">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col" style="display: inline-block; vertical-align: middle; float: none;">
        <a href="covidinfo">
            <button type="button" class="btn btn-success btn-lg custom-btn"><br>
                <span class="material-symbols-outlined" style="font-size: 60px;">
                    vaccines
                </span><br>
                <div class="btn-content">
                    Covid-19 Aşı Bilgilerim
                </div>
            </button>
        </a>
    </div>  
    <div class="col" style="display: inline-block; vertical-align: middle; float: none;">
        <a href="{% url 'passport' %}">
            <button type="button" class="btn btn-success btn-lg custom-btn"><br>
                <span class="material-symbols-outlined" style="font-size: 60px;">
                    medical_information
                </span><br>
                <div class="btn-content">
                    Sağlık Pasaportu
                </div>
            </button>
        </a>
    </div>
    <div class="col" style="display: inline-block; vertical-align: middle; float: none;">
        <a href="{% url 'report' %}">
            <button type="button" class="btn btn-success btn-lg custom-btn"><br>
                <span class="material-symbols-outlined" style="font-size: 60px;">
                    feedback
                </span><br>
                <div class="btn-content">
                    İhbarda Bulun
                </div>
            </button>
        </a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
<div class="row mt-5" style="text-align: center; margin:0 auto;">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col" style="display: inline-block; vertical-align: middle; float: none;">
        <a href="{%url 'questionary' %}">
            <button type="button" class="btn btn-success btn-lg custom-btn"><br>
                <span class="material-symbols-outlined" style="font-size: 60px;">
                    quiz
                </span><br>
                <div class="btn-content">
                    Anket
                </div>
            </button>
        </a>
    </div>
    <div class="col" style="display: inline-block; vertical-align: middle; float: none;">
        <a href="{% url 'daily-table' %}">
            <button type="button" class="btn btn-success btn-lg custom-btn"><br>
                <span class="material-symbols-outlined" style="font-size: 60px;">
                    health_metrics
                </span><br>
                <div class="btn-content">
                    Günlük Aşı Tablosu
                </div>
            </button>
        </a>
    </div>
    <div class="col" style="display: inline-block; vertical-align: middle; float: none;">
        <a href="{% url 'get-hes-code' %}">
            <button type="button" class="btn btn-success btn-lg custom-btn"><br>
                <span class="material-symbols-outlined" style="font-size: 60px;">
                    barcode_scanner
                </span><br>
                <div class="btn-content">
                    Hes Kodlarım
                </div>
            </button>
        </a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>